<app-navbar></app-navbar>
<mgl-timeline class="timeline">
  <mgl-timeline-entry *ngFor="let t of transations;" class="timeline-event">
    <mgl-timeline-entry-header>
      <mat-icon svgIcon="check_circle_outline"></mat-icon>
      <mat-icon svgIcon="calendar"></mat-icon> {{t.timestamp | date: 'dd/MM/yyyy'}}
      <mat-icon svgIcon="clock"></mat-icon> {{t.timestamp | date: 'hh:mm'}}
      <mat-icon svgIcon="place"></mat-icon>
      {{t.custom_data[0].key==='store_name' ? t.custom_data[0].value : t.custom_data[1].value }}
      <mat-icon svgIcon="money"></mat-icon> {{t.revenue | currency: 'BRL'}}
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content>
      <table style="width:100%">
        <tr>
          <th>Produto</th>
          <th>Preço</th>
        </tr>
        <tr *ngFor="let p of getProducts(t);">
          <td>{{getProduct(p)}}</td>
          <td>{{getPrice(p) | currency: 'BRL'}}</td>
        </tr>
      </table>
    </mgl-timeline-entry-content>
  </mgl-timeline-entry>
</mgl-timeline>